{% extends 'base_admin.html.twig' %}

{% block body %}
    <div class="flex items-center justify-between">
        <h1 class="h1">Nouvel évènement</h1>
        <a href="{{ path('admin_event_index') }}" class="btn-secondary">Retour à la liste</a>
    </div>

       <div class="card mt-3">
        <div class="card-body">
            {{ include('admin/event/_form.html.twig') }}
        </div>
    </div>
{% endblock %}


