{% extends 'base_admin.html.twig' %}

{% block body %}
    <h1>Évènement</h1>
    <div class="card mt-3">
        <div class="card-header">
            <h2 class="h4">
                {{ event.name }}
            </h2>
        </div>
    </div>
{% endblock %}
