<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ name_app() }}{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ vite_asset('front.ts') }}
        {% endblock %}
    </head>
    <body class="text-[16px] text-color bg-bg overflow-x-hidden">
        {% include "front/_partials/header.html.twig" %}
        <div class="container mx-auto">
            {% for label, messages in app.flashes(['success', 'error', 'info']) %}
                {% for message in messages %}
                    <alert-message type="{{ label }}">
                        {{ message|trans|raw }}
                    </alert-message>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
    {% block js %}{% endblock %}
</html>
